<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div class="container">

		<div th:replace="template :: navigation"></div>

		<div class="row">
			<div class="col-md-12">
				<h1>Confirm Course Registration</h1>
				<form method="post">
					<div class="student">
						<h3 th:text="${student.firstName} + ' ' + ${student.lastName}">Last
							Name, First Name</h3>
						<p th:text="'Username: ' + ${student.username}">Username</p>
					</div>

					<table class="table">
						<tr>
							<td th:text="${course.courseCode}">Course Code</td>
							<td th:text="${course.name}">Name</td>
							<td th:text="${course.courseCategory.catName}">Category</td>
							<td th:text="${ #dates.format(course.startDate, 'M-d-yyyy') }">Start
								Date</td>
							<td th:text="${ #dates.format(course.endDate, 'M-d-yyyy') }">Start
								Date</td>
							<td th:text="'$' + ${#numbers.formatDecimal(course.fee,1,2)}">Fee</td>
						</tr>

					</table>

					<div class="error" th:text="${error}"></div>
					
					<button class="btn btn-primary" type="submit">Save</button>

				</form>

				<div th:replace="template :: footer"></div>
			</div>

			<div th:replace="template :: footer-js"></div>
		</div>
	</div>
</body>
</html>