<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div class="container">

		<div th:replace="template :: navigation"></div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Student Info</h1>
			</div>

			<div class="col-sm-offset-2 col-sm-8">
				<form th:object="${student}" method="post">
					<input type="hidden" th:field="*{uid}" />


					<div class="form-group">
						<label>Username:</label> <span th:text="*{username}">username</span>
					</div>

					<div class="form-group">
						<label>First Name</label> <input class="form-control" type="text"
							th:field="*{firstName}"></input> <span class="error"
							th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{firstName}">First Name Error</span>
					</div>

					<div class="form-group">
						<label>Last Name</label> <input class="form-control" type="text"
							th:field="*{lastName}"></input> <span class="error"
							th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last
							Name Error</span>
					</div>

					<div class="form-group">
						<label>Address - Street</label> <input class="form-control"
							type="text" th:field="*{addressStreet}"></input> <span
							class="error" th:if="${#fields.hasErrors('addressStreet')}"
							th:errors="*{addressStreet}">Address Street Error</span>
					</div>

					<div class="form-group">
						<label>Address - Apt / Suite</label> <input class="form-control"
							type="text" th:field="*{addressApt}"></input> <span class="error"
							th:if="${#fields.hasErrors('addressApt')}"
							th:errors="*{addressApt}">Address Apt Error</span>
					</div>

					<div class="form-group">
						<label>City</label> <input class="form-control" type="text"
							th:field="*{city}"></input> <span class="error"
							th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City
							Error</span>
					</div>

					<div class="form-group">
						<label>State</label> <input class="form-control" type="text"
							th:field="*{state}"></input> <span class="error"
							th:if="${#fields.hasErrors('state')}" th:errors="*{state}">State
							Error</span>
					</div>
					<div class="form-group">
						<label>Zip</label> <input class="form-control" type="text"
							th:field="*{zip}"></input> <span class="error"
							th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}">Zip
							Error</span>
					</div>

					<div class="form-group">
						<label>Phone</label> <input class="form-control" type="text"
							th:field="*{phone}"></input> <span class="error"
							th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone
							Error</span>
					</div>

					<div class="form-group">
						<label>Email</label> <input class="form-control" type="text"
							th:field="*{email}"></input> <span class="error"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
							Error</span>
					</div>

					<div class="form-group">
						<label>Notes</label> <input class="form-control" type="text"
							th:field="*{notes}"></input> <span class="error"
							th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}">Notes
							Error</span>
					</div>

					<div class="checkbox">
						<label> <input type="checkbox" th:field="*{mailList}"></input>
							<span>Would you like us to mail you a copy of our print
								brochure two times per year?</span> <span class="error"
							th:if="${#fields.hasErrors('mailList')}" th:errors="*{mailList}">Mail
								List Error</span>
						</label>
					</div>

					<div class="checkbox">
						<label> <input type="checkbox" th:field="*{emailList}"></input>
							<span>Would you like to subscribe to our email list?</span> <span
							class="error" th:if="${#fields.hasErrors('emailList')}"
							th:errors="*{emailList}">Email List Error</span>
						</label>
					</div>
					<button class="btn btn-primary" type="submit">Save</button>

				</form>

			</div>
		</div>

		<div th:replace="template :: footer"></div>
	</div>
	<div th:replace="template :: footer-js"></div>

</body>
</html>