<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead"></head>
	
	<body>
		<div class="container">
			<div th:replace="template :: navigation"></div>
	
			<div class="row">
		        <div class="col-md-12">
		            <h1 th:text="${course.courseCode} + ': ' + ${course.name}">Course Code + Name</h1>
		        </div>
		    </div>
    
			<p class="error" th:text="${alreadyEnrolledError}">Already Enrolled Error</p>
				
			<div class="row course-listing">
		        <div class="col-md-4 course-image">
	               <img th:src="'/images/' + ${course.imageFileName}"  
	               		class="img-responsive center-block" />
		        </div>
			
				<div class="col-md-6">
					<p th:text="${course.descShort}">Short Desc</p>
					<p th:text="${ #dates.format(course.startDate, 'M/d/yyyy') } + ' - ' + 
								${ #dates.format(course.endDate, 'M/d/yyyy') } + ', ' +
								${course.startTime} + ' - ' + ${course.endTime}">Date / Time / Classes</p>
			    	<span th:text="'Meets on: '">Meets on</span>
			    		<span th:if="${course.monday}">Monday </span>
			    		<span th:if="${course.tuesday}">Tuesday </span>
			    		<span th:if="${course.wednesday}">Wednesday</span>
			    		<span th:if="${course.thursday}">Thursday </span>
			    		<span th:if="${course.friday}">Friday </span>
			    		<span th:if="${course.saturday}">Saturday </span>
			    		<span th:if="${course.sunday}">Sunday </span>
			    	<p></p>	
					<p th:text="'Fee: $' + ${#numbers.formatDecimal(course.fee,1,2)}">Fee</p>
					<p th:text="'Min. ' + ${course.minStudents} + ' students / Max. ' + ${course.maxStudents} + 
								' students'">Min / Max</p>
			        <p th:text="'Spaces Remaining: ' + ${course.spacesRemain}"></p>
			        <p th:text="'Category: ' + ${course.courseCategory.CatName}">Category</p>
				</div>
				
				<div class="col-md-2">
					<p><a class="btn btn-primary btn-lg" th:if="${course.spacesRemain} > 0" 
							th:href="${'/student/register/' + course.uid}">Register</a></p>
					<p th:if="${course.spacesRemain} == 0" class="full">This class is full</p>
				</div>
			</div>
			
			<div class="row description">
				<div class="col-md-12">
					<p th:text="${course.descLong}"></p>
				</div>
			</div>
			
			<div class="row created-updated">
				<div class="col-md-12">
					<span>Created on: </span>
			        <span th:text="${ #dates.format(course.created, 'M-d-yyyy h:mm a') }"></span>
			        <span> | </span>
			        <span>Last Updated: </span>
			        <span th:text="${ #dates.format(course.updated, 'M-d-yyyy h:mm a') }"></span>
		        </div>
		    </div>
			   		 	
			<div th:replace="template :: footer"></div>
		</div>
		
		<div th:replace="template :: footer-js"></div>
		
	</body>
</html>