<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>

	<h1>Admin Main Menu</h1>
	<div class="confirm" th:text="${confirmMessage}"></div>

	<h2>Courses</h2>
		<ul>
			<li><a href="/course">Add a New Course</a></li>
			<li><a href="/courses">List Courses</a></li>
			<li><a href="/course/import">Import Courses</a></li>
		</ul>
	
		<h2>Categories</h2>
		<ul>
			<li><a href="/category">Add a New Category</a></li>
			<li><a href="/categories">List Categories</a></li>
		</ul>
	
	
</body>
</html>