<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div class="container">

		<div th:replace="template :: navigation"></div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Oops!!! Something went wrong!</h1>

				<p th:if="${status}">
					<b>Response Status:</b> <span th:text="${status}">status-code</span>
					<span th:if="${error}" th:text="'('+${error}+')'">error ...</span>
				</p>

				<p th:if="${url}">
					<b>Page:</b> <span th:text="${url}">Page URL</span>
				</p>

				<p th:if="${timestamp}" id='created'>
					<b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
				</p>

				<span th:text="${message}">ERROR MESSAGE</span>


				<div th:replace="template :: footer"></div>
			</div>

			<div th:replace="template :: footer-js"></div>
		</div>
	</div>
</body>
</html>