<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>

	<h1>Student Info</h1>

	<form th:action="@{/new}" th:object="${student}" method="post" >

		
	    <label>
	    	<div>Username</div>
               <input class="short-text" type="text" th:field="*{username}"></input>
               <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
           	   <span class="error" th:text="${username_error}"></span>
           </label>
	    <label>
	    	<div>Password</div>
            	<input type="password" th:field="*{pwHash}"></input>
            	<span class="error" th:if="${#fields.hasErrors('pwHash')}" th:errors="*{pwHash}">PW error</span>
        		<span class="error" th:text="${password_error}"></span>
        </label>
	    <label>
	    	<div>Verify Password</div>
               <input type="password" name = "verify" th:value="${verify}"></input>
               <span class="error" th:text="${verify_error}"></span>
        </label>

	    <label>
	        <div>First Name</div>
	        <input class="short-text" type="text" th:field="*{firstName}"></input>
	       	<span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
	    </label>
	    
	    <label>
	        <div>Last Name</div>
	        <input class="short-text" type="text" th:field="*{lastName}"></input>
	       	<span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
	    </label>

	   	<label>
	        <div>Address - Street</div>
	        <input type="text" th:field="*{addressStreet}"></input>
			<span class="error" th:if="${#fields.hasErrors('addressStreet')}"  th:errors="*{addressStreet}">Address Street Error</span>
	    </label>

	   	<label>
	        <div>Address - Apt / Suite</div>
	        <input type="text" th:field="*{addressApt}"></input>
			<span class="error" th:if="${#fields.hasErrors('addressApt')}"  th:errors="*{addressApt}">Address Apt Error</span>
	    </label>
	    	    
	    <label>
	        <div>City</div>
	        <input class="short-text" type="text" th:field="*{city}"></input>
	       	<span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</span>
	    </label>
	    
	    <label>
	        <div>State</div>
	        <input class="short-text" type="text" th:field="*{state}"></input>
	       	<span class="error" th:if="${#fields.hasErrors('state')}" th:errors="*{state}">State Error</span>
	    </label>
	    
	   	<label>
	        <div>Zip</div>
	        <input class="short-text" type="text" th:field="*{zip}"></input>
	       	<span class="error" th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}">Zip Error</span>
	    </label>
	    
	   	<label>
	        <div>Phone</div>
	        <input class="short-text" type="text" th:field="*{phone}"></input>
	       	<span class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</span>
	    </label>
	    
	    <label>
	        <div>Email</div>
	        <input class="short-text" type="text" th:field="*{email}"></input>
	       	<span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
	    </label>

	    <label>
	        <div>Notes</div>
	        <input class="short-text" type="text" th:field="*{notes}"></input>
	       	<span class="error" th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}">Notes Error</span>
	    </label>
	    
	    <label>
			<input type="checkbox" th:field="*{mailList}"></input>
			<span>Would you like us to mail you a copy of our print brochure two times per year?</span>
			<span class="error" th:if="${#fields.hasErrors('mailList')}"  th:errors="*{mailList}">Mail List Error</span>
	    </label> 
	    
	    <label>
			<input type="checkbox" th:field="*{emailList}"></input>
			<span>Would you like to subscribe to our email list?</span>
			<span class="error" th:if="${#fields.hasErrors('emailList')}"  th:errors="*{emailList}">Email List Error</span>
	    </label> 	    	    	    
	    
	    <button type="submit">Save</button>

	</form>

	<a href="/students">Cancel</a>
	
	<div th:replace="template :: footer"></div>
	
</body>
</html>